@model QuanLyDoAn.DeTai

@{
    ViewBag.Title = "EditDeTai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chỉnh sửa thông tin đề tài</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>DeTai</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.maDeTai)

        <div class="form-group">
            @Html.LabelFor(model => model.tenDeTai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenDeTai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tenDeTai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.soSVThamGia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.soSVThamGia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.soSVThamGia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ghiChu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ghiChu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ghiChu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.soSVDaDangKy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.soSVDaDangKy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.soSVDaDangKy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" onclick="saveChange()" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "QuanLyDeTai")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
<script>
    function saveChange() {
        if (confirm("Bấm vào nút OK để tiếp tục") == true) {
            alert("Sửa thành công");
        }
        //else {

        //}
    }
</script>